body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

p {
    text-align: center;
}